<h1>Songs List</h1>
<tbody><% @songs.each do |song| %>
    <tr>
    <%= song.title %><br>
    <%= song.release_year %><br>
    <%= song.artist_name %><br>
    <%= song.genre %><br>
    </tr>
<% end %>
</tbody>